/* ------------CONTACT PAGE-------------------------------------------------------- */  /* ------------CONTACT PAGE-------------------------------------------------------- */
/* ------------CONTACT PAGE-------------------------------------------------------- */  /* ------------CONTACT PAGE-------------------------------------------------------- */
/* ------------CONTACT PAGE-------------------------------------------------------- */  /* ------------CONTACT PAGE-------------------------------------------------------- */


.title-contact{
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 440px;
    line-height: 352px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.04em;
    color: #141435;
    margin-top: 80px;
    margin-bottom: 80px;
  
  }
  
  .contact-chanel{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items:baseline;
  
  }
  
  
  .h4-contact-chanel{
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 248px;
    line-height: 100%;
    letter-spacing: -0.04em;
    max-width: 1504px;
    color: #141435;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .h4-contact-chanel:hover{
  color: #FF415D;
  }
  
  .icon-button-medium{
    
    padding-right: 48px;
    height:180px;
    cursor: pointer;
    text-align: left;

  }
  
  .contactme-container:hover{
    color: #FF415D;
  }


  /* Desktop */
  @media (max-width: 1500px) {

    .title-contact{
  font-size: 29.2vw;
    }


  .h4-contact-chanel{
    font-size: 16vw;
  }

  .icon-button-medium{
    width: 16vw;
    padding-right: 48px;
    height:180px;
  }
}



   /* Tablet */
@media (max-width: 1232px) {
  
  .title-contact{
    font-size: 28vw;
    margin-top: 40px;
    margin-bottom: 40px;
      }

      .h4-contact-chanel{
        font-size: 15vw;
      }

      .icon-button-medium{
        width: 15vw;
        height: 136px;
      }
  }
  
  /* Tablet */
@media (max-width: 1000px) {

  .title-contact{
    font-size: 28.5vw;
    margin-top: 16px;
    margin-bottom: 16px;
      }
  
  

  .icon-button-medium{
    width: 16vw;
    height: 104px;
  }
}

  /* Tablet */
@media (max-width: 770px) {

  .title-contact{
    font-size: 28vw;
    margin-top: -64px;
    margin-bottom: -64px;
      }

      .icon-button-medium{
        width: 18vw;
        height: 84px;
      }

  }

  /* Tablet */
@media (max-width: 680px) {

  .icon-button-medium{
    width: 19vw;
    height: 60px;
   
  }

}

  /* Mobile */
@media (max-width: 430px) {

  .title-contact{
    font-size: 28vw;
    margin-top: -96px;
    margin-bottom: -96px;
      }


      .icon-button-medium{
        width: 23vw;
        height: 47px;
        
       
      }
}